
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/enough-exercise" method="post">

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "enough-exercise",
          name: "enough-exercise",
          fieldset: {
            legend: {
              text: "Do you feel your child gets enough exercise each day?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Health guidance is that all 5 years olds should be physically active for at least 1 hour each day. This should range from moderate activity such as walking and playground activites to vigorous activity such as running, energetic dancing and playing chase."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "sometimes",
              text: "Only sometimes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>




{% endblock %}
