
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/your-concern-about-you"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/eating-meals" method="post">


        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {% set otherHtml %}
        {{ govukTextarea({
          id: "other-reason",
          name: "other-reason",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please provide more detail"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "nationality",
          name: "nationality",
          fieldset: {
            legend: {
              text: "Which of these concern you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "These answers will help us give you personalised support and guidance. You can select more than one."
          },
          items: [
            {
              value: "food",
              text: "The food my child eats"
            },
            {
              value: "activity",
              text: "The level of my child’s activity"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>




{% endblock %}
