
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/support-main-meals"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Easy meals – recipes and meal planner</h1>

      <p>Plan a healthy meals for you and your child. This free guide offers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>recipes for meals you can cook quickly and easily</li>
        <li>a weekly planner to help you plan meals in advance</li>
        <li>shopping lists based on the recipes you’ve planned</li>
      </ul>

      <p>The guide is available in the following formats:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>iPhone or iPad app</li>
        <li>Android phone or tablet app</li>
        <li>as a download you can view and print out</li>
      </ul>

      <p><a href="/meal-planner-download" class="govuk-button">Get started</a></p>

    </div>
    <div class="govuk-grid-column-one-third">

      <div style="background-color: #1CA5A7; padding: 10px;">

        <img src="/public/images/easy-meals.jpg" style="max-width: 100%;">
      </div>

    </div>

  </div>

{% endblock %}
