
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/create-account" method="post">

        {{ govukInput({
          label: {
            text: "What is the code on your letter?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "Each letter contains a unique code, such as AB316725. Entering this code enables us to show you your child’s weight and height, and to give you personalised advice."
          },
          classes: "govuk-input--width-20",
          id: "letter-code",
          name: "letter-code"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
