
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/received-letter" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "received-letter",
          name: "received-letter",
          fieldset: {
            legend: {
              text: "Have you received a letter about your child’s weight?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "These letters are sent from your local council to the parents of all children aged 4 or 5 (Reception) and 10 or 11 (Year Six)."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>




{% endblock %}
