
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/your-concern"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/main-concerns" method="post">

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "concern-about-own-weight",
          name: "concern-about-own-weight",
          fieldset: {
            legend: {
              text: "And how concerned are you about your own weight?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "not-concerned",
              text: "Not at all concerned"
            },
            {
              value: "quite-concerned",
              text: "Quite concerned"
            },
            {
              value: "very-concerned",
              text: "Very concerned"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>




{% endblock %}
